<div class="col-sm-10 col-sm-offset-1 message-board">
  <div class="message-container">
    <div class="row">
      <div class="col-sm-1 col-sm-offset-11">
        <button {{action 'destroyQuestion' question answer}}>x</button><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>{{question.content}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-7">
        <h5><em>{{question.author}} ({{question.date}})</em></h5>
      </div>
    </div>
  </div>
  {{#each question.answers as |answer|}}
    <div class="message-container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h3>{{answer.content}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-7">
          <h5><em>{{answer.author}} ({{answer.date}})</em></h5>
        </div>
      </div>
    </div>
  {{else}}
    <div class="message-container answer-container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="subtitle">No answers have been added yet</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
